/target
/tools/cli-data
tools/rosetta-cli-conf/testnet/aleo_config.json
tools/log

# Emacs gitignore files
*~
\#*\#
.\#*

# Mentat ignore local.conf.toml
local.conf.toml

# Cargo Expand File
temp.rs

.timetracker